<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="在席ソフトRev2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <在席ソフトRev2.Properties.Settings>
            <setting name="haikeiColor" serializeAs="String">
                <value>242, 160, 0</value>
            </setting>
            <setting name="moziColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="status" serializeAs="String">
                <value>在席</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="memo" serializeAs="String">
                <value />
            </setting>
            <setting name="channel" serializeAs="String">
                <value />
            </setting>
            <setting name="haishin" serializeAs="String">
                <value>配信者</value>
            </setting>
            <setting name="basyo" serializeAs="String">
                <value>配信地</value>
            </setting>
            <setting name="chbx1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chbx2" serializeAs="String">
                <value>False</value>
            </setting>
        </在席ソフトRev2.Properties.Settings>
    </userSettings>
</configuration>